* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background: linear-gradient(#18121e, #334c55);

}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* nav {
  height: 80px;
  background-color: rgb(5, 8, 15);
}
nav img {
  width: 140px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 50px;
}

nav ul {
  list-style: none;
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 0;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media screen and (max-width: 1118px) {
  nav img {
    left: 8%;
  }
}
@media screen and (max-width: 944px) {
  nav img {
    left: 6%;
  }
}
@media screen and (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 8, 15);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
    line-height: 38px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
} */
nav img {
  width: 120px;
}
nav {
  max-width: 1200px;
  min-height: 8vh;
  margin: 0 auto;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;

}
.bars {
  color: white;
  display: none;
  margin-right: 20px;
  font-size: 32px;
  
}


@media screen and (max-width:1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width:768px) {
  body {
  overflow: hidden;
}
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    background-color: royalblue;
    top: 10vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:translateY(-150%);
    transition: 0.5s ease-in;


  }
  
  .bars {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    transform: translateX(0%);
  }
 
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(#18121e, #334c55);
}
.profile {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
  font-size: 2rem;
}
.profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile h1 {
  text-align: left;
  color: whitesmoke;
  font-size: 2.2rem;
}
.profile span {
  color: rgb(214, 37, 90);
}
.profile p {
  text-align: left;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: aqua;
}
.self {
  padding: 20px;
}
.self h1 {
  color: rgb(129, 189, 230);
  text-align: center;
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.myself {
  color: white;
  line-height: 30px;
  font-size: 18px;
}
.myself span {
  color: rgb(214, 37, 90);
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.education {
  margin: 20px 0 20px 0;
  color: white;
  line-height: 30px;
}
.education h1 {
  margin-bottom: 10px;
}
.my-skills > h1 {
  color: rgb(129, 189, 230);
  text-align: center;
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.skills {
  text-align: center;
  list-style: none;
}
.skills div {
  padding: 20px;
  /* margin-top: 8px; */
}
.skills div h1 {
  font-family: sans-serif;
  background-color: rgb(4, 19, 17);
  padding: 8px;
  border-radius: 5px;
  color: antiquewhite;
}
.skills h3 {
  color: aqua;
  margin-bottom: 10px;
}

.skills li {
  margin: 20px 0;
  text-align: left;
  font-size: 1.5rem;
}
#skill {
  text-align: center;
  font-family: cursive;
  margin-top: 10px;
}
.bar {
  background: rgb(223, 229, 231);
  display: block;
  height: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(27, 25, 24);
}
.bar span {
  height: 20px;
  float: left;
  background: rgb(221, 52, 94);
}
.html {
  width: 80%;
  border-radius: 15px;
  animation: html 8s;
}
@keyframes html {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
}
.css {
  width: 70%;
  border-radius: 15px;
  animation: html 8s;
}
.js {
  width: 40%;
  border-radius: 15px;
  animation: html 8s;
}
.bootstrap {
  width: 50%;
  border-radius: 15px;
  animation: html 8s;
}
.python {
  width: 60%;
  border-radius: 15px;
  animation: html 8s;
}
.react {
  width: 20%;
  border-radius: 15px;
  animation: html 8s;
}
.vs {
  width: 70%;
  border-radius: 15px;
  animation: html 8s;
}
.git {
  width: 60%;
  border-radius: 15px;
  animation: html 8s;
}
.contact h1 {
  color: rgb(129, 189, 230);
  text-align: center;
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact-me {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-me div {
  margin-bottom: 20px;
}
.contact-me div h3 {
  font-size: 24px;
  color: aqua;
  margin-bottom: 8px;
}
.contact-me div p {
  color: white;
  font-size: 16px;
}
.icons {
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  border-bottom: 2px solid white;
}
.icons div {
  background-color: rgb(162, 211, 206);
  border-radius: 10px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}
.icons a {
  font-size: 40px;
  color: black;
}

.copyright {
  padding: 10px;
  text-align: center;
  color: white;
}
